{% extends 'layout.html' %}

{% load staticfiles %}

{% block css %}
    <style>
        .comparision td {
            position: relative;
        }

        .comparision-hide {
            display: none;
        }

        .comparision-build-info {
            width: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <canvas id="myChart" width="400" height="180"></canvas>
                </div>
                <div class="ibox-content">
                    <table id="test_info" class="table comparision m-b-xxs">
                        <tbody>
                        <tr class="no-padding">
                            <td id="blank" data-model-name="blank">
                                {% if case == 'full boot' %}
                                <a class="btn btn-primary btn-sm" href="/chart/comparision/">View full stage comparision</a>
                                {% endif %}
                            </td>
                            {% for data in header %}
                                <td aria-test="1" style="width: 200px">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="184" height="20">
                                            <linearGradient id="b" x2="0" y2="100%">
                                                <stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
                                                <stop offset="1" stop-opacity=".1"/>
                                            </linearGradient>
                                            <clipPath id="a">
                                                <rect width="184" height="20" rx="3" fill="#fff"/>
                                            </clipPath>
                                            <g clip-path="url(#a)">
                                                <path fill="#555" d="M0 0h69v20H0z"/>
                                                <path fill="#0366d6" d="M69 0h115v20H69z"/>
                                                <path fill="url(#b)" d="M0 0h184v20H0z"/>
                                            </g>
                                            <g fill="#fff" text-anchor="middle"
                                               font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                                                <text x="35" y="15" fill="#010101" fill-opacity=".3">project</text>
                                                <text x="35" y="14">project</text>
                                                <text x="125" y="15" fill="#010101"
                                                      fill-opacity=".3">{{ data.project }}</text>
                                                <text x="125" y="14">{{ data.project }}</text>
                                            </g>
                                        </svg>
                                        <br>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="184" height="20">
                                            <linearGradient id="b" x2="0" y2="100%">
                                                <stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
                                                <stop offset="1" stop-opacity=".1"/>
                                            </linearGradient>
                                            <clipPath id="a">
                                                <rect width="184" height="20" rx="3" fill="#fff"/>
                                            </clipPath>
                                            <g clip-path="url(#a)">
                                                <path fill="#555" d="M0 0h69v20H0z"/>
                                                <path fill="#0366d6" d="M69 0h115v20H69z"/>
                                                <path fill="url(#b)" d="M0 0h184v20H0z"/>
                                            </g>
                                            <g fill="#fff" text-anchor="middle"
                                               font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                                                <text x="35" y="15" fill="#010101" fill-opacity=".3">build</text>
                                                <text x="35" y="14">build</text>
                                                <text x="125" y="15" fill="#010101"
                                                      fill-opacity=".3">{{ data.build }}</text>
                                                <text x="125" y="14">{{ data.build }}</text>
                                            </g>
                                        </svg>
                                        <br>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="184" height="20">
                                            <linearGradient id="b" x2="0" y2="100%">
                                                <stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
                                                <stop offset="1" stop-opacity=".1"/>
                                            </linearGradient>
                                            <clipPath id="a">
                                                <rect width="184" height="20" rx="3" fill="#fff"/>
                                            </clipPath>
                                            <g clip-path="url(#a)">
                                                <path fill="#555" d="M0 0h69v20H0z"/>
                                                <path fill="#0366d6" d="M69 0h115v20H69z"/>
                                                <path fill="url(#b)" d="M0 0h184v20H0z"/>
                                            </g>
                                            <g fill="#fff" text-anchor="middle"
                                               font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                                                <text x="35" y="15" fill="#010101" fill-opacity=".3">test</text>
                                                <text x="35" y="14">test</text>
                                                <text x="125" y="15" fill="#010101"
                                                      fill-opacity=".3">{{ data.test }}</text>
                                                <text x="125" y="14">{{ data.test }}</text>
                                            </g>
                                        </svg>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    <div style="height: 100px; overflow:scroll;" id="content">
                        <table id="test_data" class="table table-bordered table-striped table-hover comparision">
                            <tbody>
                            {% for k, v in data.items %}
                                <tr>
                                    <td id="stage{{ forloop.counter0 }}" data-model-name="stage">
                                        {{ k }}
                                    </td>
                                    <td aria-test="1" style="width: 200px;">
                                        {{ v.0 }}
                                    </td>
                                    <td aria-test="2" style="width: 200px;">
                                        {% ifequal v.1 None %}
                                            None
                                        {% else %}
                                            {{ v.1.0 }}
                                            <br>
                                            <div class="stat-percent font-bold {{ raw.cmp_delta_class }}">
                                                {{ v.1.1 }}&nbsp;
                                                {% if v.1.1 < 0 %}
                                                    <font color="green"> &#8593;{{ v.1.2 }}</font>
                                                {% endif %}
                                                {% if v.1.1 > 0 %}
                                                    <font color="red"> &#8595;{{ v.1.2 }}</font>
                                                {% endif %}
                                            </div>
                                        {% endifequal %}
                                    </td>
                                    <td aria-test="3" style="width: 200px;">
                                        {% ifequal v.2 None %}
                                            None
                                        {% else %}
                                            {{ v.2.0 }}
                                            <br>
                                            <div class="stat-percent font-bold {{ raw.cmp_delta_class }}">
                                                {{ v.2.1 }}&nbsp;
                                                {% if v.2.1 < 0 %}
                                                    <font color="green"> &#8593;{{ v.2.2 }}</font>
                                                {% endif %}
                                                {% if v.2.1 > 0 %}
                                                    <font color="red"> &#8595;{{ v.2.2 }}</font>
                                                {% endif %}
                                            </div>
                                        {% endifequal %}
                                    </td>
                                    <td aria-test="4" style="width: 200px;">
                                        {% ifequal v.3 None %}
                                            None
                                        {% else %}
                                            {{ v.3.0 }}
                                            <br>
                                            <div class="stat-percent font-bold {{ raw.cmp_delta_class }}">
                                                 {{ v.3.1 }}&nbsp;
                                                {% if v.3.1 < 0 %}
                                                    <font color="green"> &#8593;{{ v.3.2 }}</font>
                                                {% endif %}
                                                {% if v.3.1 > 0 %}
                                                    <font color="red"> &#8595;{{ v.3.2 }}</font>
                                                {% endif %}
                                            </div>
                                        {% endifequal %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#content").height($(document).height() - 550);
            $("#test_info").width($("#test_data").width());
            var ctx=document.getElementById('myChart').getContext('2d');
            var builds = {{ header|safe }};
            var build_lenth=0;
            for (var len_build=0;len_build<builds.length;len_build++){
                if(builds[len_build]['project']){
                    build_lenth++
                }
            }
            var labes = [];
            var dataset = [];
            var subData = {{ data|safe }};
            var colorlist = ['#87CEEB', '#FFC1C1', '#DDA0DD', '#8DEEEE'];
            for (var i=0;i<build_lenth;i++){
                datas=[];
                for (var key in subData) {
                    if (labes.indexOf(key) == -1){
                        labes.push(key)
                    }
                    if (i == 0) {
                        datas.push(subData[key][i])
                    }
                    else {
                        datas.push(subData[key][i][0])
                    }
                };
                dataset.push({
                    label:builds[i]['build'],
                    backgroundColor:colorlist[i],
                    borderWidth: 1,
                    data: datas
                })
            };
            var data={
                labels: labes,
                datasets:dataset
            };
            window.myBar = new Chart(ctx, {
                type:'bar',
                data:data,
                options:{
                    scales: {
                        xAxes: [{

                        }]
                    }
                }
            })
        })
    </script>
{% endblock %}