{% extends 'layout.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>v1.0.6 <small>Aug 11, 2017</small></h2>
            </div>
            <div class="ibox-content">
                <h3>Redesign [New Test]</h3>
                <ul>
                    <li>Slave selector</li>
                    <li>Test cases selector, options relative to Slave and Project</li>
                </ul>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>v1.0.5 <small>Aug 10, 2017</small></h2>
            </div>
            <div class="ibox-content">
                <h3>Add Documentation</h3>
                <ul class="release">
                    <li>Add Documentation menu to navigation</li>
                </ul>
                <h3>Rewrite slave web server</h3>
                <ul>
                    <li>Use slave.yaml to configure slave web server</li>
                </ul>
                <h3>Redesign [New Test]</h3>
                <ul>
                    <li>Project selector</li>
                    <li>Build Type selector, options relative to Project</li>
                    <li>URL input box, address relative to Build Type</li>
                </ul>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>v1.0.4 <small>Aug 9, 2017</small></h2>
            </div>
            <div class="ibox-content">
                <h3>Redesign Daily</h3>
                <ul class="release">
                    <li>Redesign trends chart</li>
                    <li>Redesign detail results table</li>
                </ul>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>v1.0.3 <small>Aug 8, 2017</small></h2>
            </div>
            <div class="ibox-content">
                <h3>Add Models, History, Daily Build</h3>
                <ul class="release">
                    <li>Add Models: Project, TrendsData, DailySummary, TrendsData</li>
                    <li>Add Page History</li>
                    <li>Redesign Daily's Summary table</li>
                </ul>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>v1.0.2 <small>Aug 7, 2017</small></h2>
            </div>
            <div class="ibox-content">
                <h3>Add Models, History</h3>
                <ul class="release">
                    <li>Add Models: Project, TrendsData, DailySummary, TrendsData</li>
                    <li>Add Page History</li>
                </ul>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>v1.0.1 <small>Aug 4, 2017</small></h2>
            </div>
            <div class="ibox-content">
                <h3>A brand-new navigation menus</h3>
                <ul class="release">
                    <li>Add [Release] page</li>
                    <li>Combine all [New test] options</li>
                    <li>List all projects in [Daily][BKC]</li>
                    <li>Add [BKC Patches] link</li>
                    <li>Add [Server Info] on the right</li>
                    <li>Add 404, 500 error pages</li>
                    <li>Show Date and Workweek in footer</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
